:root {
  --accent-color: #2196F3;
  --logo-color: #000000;
  --title-color: #FFFFFF;
  --desk-color: #757575;
  --color: #212121;
  --background-color1: #F5F4FA;
  --background-color: #2F303A;
}
/* font-family: "Raleway", sans-serif; */
/* font-family: "Roboto", sans-serif; */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}


/* header */

header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.web {
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.studio {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.nav-link {
  color: var(--color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.nav-items {
  color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;


}

.header-nav:hover,
.header-nav:focus {
  color: var(--accent-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
} 

.header-link {
  color: var(--desk-color);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-email:hover,
.header-email:focus{
  color: var(--accent-color);
}

/* Main */

.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-button {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.96px;
  
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px;
}

 /* We */

 .about {
  padding-top: 94px;
}
.about-title {
  color: var(--text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;

}
.about-text {
  color: var(--addres-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.42px;

}


/* What does we do */

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-title {
  color: var(--text-color);

text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;

}
.work-img {
  margin-bottom: 94px;
}


/* Team */

.command {
  background-color: var(--team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}
.command-title {
  color:  var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;

}
.command-img {
  margin-top: 186px;
}
.command-name {
  color:  var(--text-color);

text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;

}
.command-text {
  color: var(--addres-color);
}

/* Footer */

.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
  
  }
  .stud1o {
    color: var(--main-background);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  }
  .footer-map {
    color: var(--main-background);
  
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  }
  .footer-link {
    color: var(--addres-color);
  
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  }
  

/* Portfolio */

.btn-btn:hover {
  color: var(--title-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #2196F3;
}

.btn-btn {
  color: var(--color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;

  border-radius: 4px;
  background: #F5F4FA;
}

.goods-title {
  color: var(--desk-color);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.goods-img {
  width: 370px;
}

.goods-caption {
  color: var(--color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.48px;
}

.goods-text {
  color: var(--desk-color);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  letter-spacing: 0.48px;
}

.work-item {
  width: 370px;
}


.what-button {
    color: var(--color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;

    border-radius: 4px;
    background: #F5F4FA;
}