.clients {
  padding-top: 94px;
  padding-bottom: 94px;


  &__title {
    color: $color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }


  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    outline: 1px solid #AFB1B8;
    width: 170px;
    height: 92px;
    transition: 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
    border: none;

    &:hover,
    &:focus {
      outline: 1px solid $accent-color;
      border: 0px solid transparent;

      .clients-img {
        fill: $accent-color;
      }
    }
  }

  &__img {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;

  }
}
