.footer {
    background-color: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    &__container{
      display: flex;
      flex-direction: column;
      align-items: center;
  
      // outline: 1px solid red;
      // flex-wrap: wrap;

      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      align-items: baseline;
      outline: 1px solid red;
      flex-wrap: wrap;
      }

      @media screen and (min-width: 1200px) {
        
      }
    }

    &__wraper{
      text-align: center;

      @media screen and (min-width: 1200px) {
        text-align: start;
      }
    }

    &__logo {
      color: $title-color;
      font-family: Raleway;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.38;
      letter-spacing: 0.72px;

      @media screen and (min-width: 1200px) {
        font-size: 26px;
        letter-spacing: 0.78px;
      }

    }
    
    &__web{
      color: $accent-color;
    }

    &__address {
      margin-top: 20px;
      font-style: normal;
    }


    &__maps {
      color: $title-color;
     font-size: 14px;
     font-weight: 400;
     line-height: 1.71px; 
     letter-spacing: 0.42px;
    }

    &__itms{
      display: flex;
      margin-top: 9px;
      flex-direction: column;
    }

    &__item {
      margin-bottom: 9px;

      &:last-child {
        margin-bottom: 0px;
      }
    
    }

    &__link {
      color: $desk-color;
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.71;
      letter-spacing: 0.42px;
      margin-top: 9px;
    }

    &__networks {
      margin-top: 60px;
      text-align: center;

      @media screen and (min-width: 768px) {
        margin-top: 0px;
      }

      @media screen and (min-width: 1200px) {
        text-align: start;
        margin-left: 70px;
      }
    }

    &__title {
      color: $title-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      margin-bottom: 20px;
  }

  &__list {
    display: flex;
    gap: 10px;
}

&__element {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 12px 12px 12px 12px;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 50%;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);

  &:hover, &:focus {
    background-color: $accent-color;
}
}

&__img {
  width: 20px;
  height: 20px;
  fill: $title-color;
}

&__subscribe{
  margin-top: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
   text-align: start;
   margin-top: 0px;
   margin-left: auto;
  }
}

&__subscribetext{
  color: $title-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

&__form{
  align-items: center;
  display: flex;
  gap: 20px;
  flex-direction: column;


  @media screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 12px;
  }
}

&__input{
  width: 320px;
height: 50px;
border-radius: 4px;
outline: 1px solid rgba(255, 255, 255, 0.30);
border: none;
background: rgba(33, 150, 243, 0.00);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
padding-left: 16px;

@media screen and (min-width: 480px) {
  width: 450px;
}

// @media screen and (min-width: 768px) {
//   width: 450px;
// }

@media screen and (min-width: 1200px) {
  width: 358px;
}
}


&__buttom {
  width: 200px;
height: 50px;
  color: $title-color;
  text-align: start;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;

  background-color: $accent-color;
  padding-left: 31px ;
  border-radius: 4px;
  border: 1px solid $accent-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  transition: 1000ms;

  @media screen and (min-width: 480px) {

  }

  &:hover{
    transform: scale(1.1);
    background-color: $background-color1;
    color: $accent-color;
    border-color: $border-color;
    .subscribe-element-img{
      transform: rotate(360deg);
      fill: #064e9a;
    }
  }
}



&__icon{
  width: 20px;
    height: 20px;
    fill: $title-color;
    position: absolute;
    right: 28px ;
    top: 13px;
    transition: 1000ms;
}

}