.footer {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container{
  display: flex;
  align-items: baseline;
  outline: 1px solid red;
}

  .footer-map {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  .footer-address {
    margin-top: 20px;
    font-style: normal;
  }

  .footer-itms{
    display: flex;
    margin-top: 9px;
    flex-direction: column;
  }

  .footer-maps {
    color: #FFF;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.71px; 
   letter-spacing: 0.42px;
  }

  .footer-item {
    margin-bottom: 9px;
  }

  .footer-item:last-child {
    margin-bottom: 0px;
  }

  .footer-link {
    color: var(--desk-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-top: 9px;
  }

  .footer-networks {
    margin-left: 70px;
}

.footer-title {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-list {
    display: flex;
    gap: 10px;
}

.footer-element-link {
    display: flex;
    align-items: center;
    padding: 12px 12px 12px 12px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.footer-element-link:hover, .footer-element-link:focus {
    background-color: var(--accent-color);
}

.footer-element-img {
    width: 20px;
    height: 20px;
    fill: var(--title-color);
}

  .stud1o {
    color: var(--title-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }
