.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-portfolio;



  &__box {
    display: flex;
    align-items: center;
  }

  &__studio {
    margin-right: 93px;
    color: $ogo-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__web {
    color: $accent-color;
  }

  &__roster {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}


&__link {
  display: flex;
  gap: 10px;
  align-items: center;
  color: $desk-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition: 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  &:hover,
  &:focus{

    color: $accent-color;
    .header__img{
      fill: $accent-color;
    }
    }
}

&__img {
  width: 16px;
  height: 12px;
  fill: $desk-color;
  transition: 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

&__item:last-child .header__img{
  width: 10px;
  height: 16px;
}

&__item:nth-child(2) > .header__link > .header__img {
  height: 16px;
}

}

  .nav{
    &__list {
      display: flex;
      gap: 50px;
    }

    &__item {
      position: relative;
      display: inline-block;
      color: $accent-color; 
      text-decoration: none;
      justify-content: center;
      align-items: center;


      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -28px; 
        width: 0;
        height: 2px; 
        background-color: $accent-color; 
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1); 
      }

      &:hover::after {
        width: 100%; 
      }
    }

    &__link {
      color: $color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 

      &:hover,
      &:focus{
        color: $accent-color;
      }
    }
  }

  .current {
    color: $accent-color;
  }
 