
.hero {
    background-color: $background-color;
    padding-top: 118px;
    padding-bottom: 118px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/command.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 280px;
    }



    &__titl {
      color: $title-color;
      font-size: 26px;
      font-weight: 900;
      line-height: 1.61;
      letter-spacing: 1.56px;
      text-transform: uppercase; 
      margin-left: auto;
      width: 100%;
      margin-right: auto;
      margin-bottom: 30px;

      @media screen and (min-width: 480px) {
        width: 360px;
      }

      @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 2.64px;
        width: 696px;
      }
    }

    &__button {
      color: $title-color;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.88;
      letter-spacing: 0.96px;
  
      border-radius: 4px;
      background: $accent-color;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 24px;
      padding-left: 24px;
      border: none;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15) ;

      @media screen and (min-width: 1200px) {
        padding-right: 32px;
      padding-left: 32px;
      }
    }
  }
